<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layouts/communityHomeLayout}">
<head>
  <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
  <!--    필요힌 css, script 추가영역 -->
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="row">
      <h2>커뮤니티 타임라인</h2>
    </div>
    <div class="qa-message-list" id="wallmessages">
      <div class="message-item" id="m16">
        <div class="message-inner">
          <div class="message-head clearfix">
            <div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
            <div class="user-detail">
              <h5 class="handle">Oleg Kolesnichenko</h5>
              <div class="post-meta">
                <div class="asker-meta">
                  <span class="qa-message-what"></span>
                  <span class="qa-message-when">
                                    <span class="qa-message-when-data">Jan 21</span>
                                </span>
                  <span class="qa-message-who">
                                    <span class="qa-message-who-pad">by </span>
                                    <span class="qa-message-who-data"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko">Oleg Kolesnichenko</a></span>
                                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="qa-message-content">
            Yo!
          </div>
        </div></div>

      <div class="message-item" id="m9">
        <div class="message-inner">
          <div class="message-head clearfix">
            <div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=amiya"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
            <div class="user-detail">
              <h5 class="handle">amiya</h5>
              <div class="post-meta">
                <div class="asker-meta">
                  <span class="qa-message-what"></span>
                  <span class="qa-message-when">
                                    <span class="qa-message-when-data">Nov 24, 2013</span>
                                </span>
                  <span class="qa-message-who">
                                    <span class="qa-message-who-pad">by </span>
                                    <span class="qa-message-who-data"><a href="./index.php?qa=user&qa_1=amiya">amiya</a></span>
                                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="qa-message-content">
            커뮤니티 타임라인 페이지 타임리프 적용
          </div>
        </div></div>

    </div>
  </div>
</div>
</html>